.info > a {
  color:#0d6efd;
}

.info > a:hover {
  color:#042f70;
}

.edit > a {
  color:#ffc107;
}

.edit > a:hover {
  color:#584302;
}

.remove > a {
  color:#dc3545;
}

.remove > a:hover {
  color:#7e1f29;
}

.card-body {
  background-color: rgb(238, 236, 236);
}

#add {
  color: #0d6efd;
}
